@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";


@theme{

    --font-dmSans : "DM Sans" , sans-serif ;
    --font-redHat :"Red Hat Display" , sans-serif ;

    --color-primary: #87AF2E ;
}

